/**
 * Site footer
 */
.l-footer-inner {
  .pane-bean-footer,
  .pane-address-footer {
    display: inline-block;
  }
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  .field {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1px;
  }
  p {
    margin: 0;
  }
  .field--type-link-field {
    &.field--name-field-footer-facebook,
    &.field--name-field-footer-twitter,
    &.field--name-field-footer-google-plus,
    &.field--name-field-footer-pinterest,
    &.field--name-field-footer-instagram {
      a {
        background-size: contain !important;
        display: block;
        height: 24px;
        text-indent: -9999px;
        width: 24px;
      }
    }
  }
  .field--type-link-field a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .field--name-field-footer-facebook a {
    background: url(../images/icon_facebook.png);
    background-image: url(../images/icon_facebook.svg), none;
  }
  .field--name-field-footer-twitter a {
    background: url(../images/icon_twitter.png);
    background-image: url(../images/icon_twitter.svg), none;
  }
  .field--name-field-footer-google-plus a {
    background: url(../images/icon_google_plus.png);
    background-image: url(../images/icon_google_plus.svg), none;
  }
  .field--name-field-footer-pinterest a {
    background: url(../images/icon_pinterest.png);
    background-image: url(../images/icon_pinterest.svg), none;
  }
  .field--name-field-footer-instagram a {
    background: url(../images/icon_instagram.png);
    background-image: url(../images/icon_instagram.svg), none;
  }
}
