.pane-switchtheme-switch-form {
  padding: 15px 0;
  float: left;
  .pane-title {
    display: inline;
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
  .switchtheme-switch-form {
    display: inline-block;
  }
}
