$dark-blue  : #243771; //hsl(223, 40%, 22%);
$pale-blue  : #e1e4f0; //desaturate(lighten($dark-blue, 35%), 25%); //#d9e9ef;
$light-blue : #466bc7; //lighten($dark-blue, 35%); // #52b1ea;
$mid-blue   : #2e50a7; //lighten($dark-blue, 15%); //#077dc3;


$orange     : #e4621c;
$pale-orange: #efa47b;

$green      : #4a993e;

$red        : #b33630;

$yellow     : #d6c460;

$light-grey : #ddd;
$mid-grey   : #6a7076;
$dark-grey  : #222222;
