@import "susy";
/**
 * @file
 * Default page layout.
 *
 * The default page layout provides a simple header with branding on the left
 * and main menu on the right, with a simple single-column site footer.
 */
// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1.2em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 15px;

$container-style: magic;
$container-width: 960px + $grid-padding*2;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
$tab: 44em 16; // At 44em use 16 columns.
$desk: 61em 16; // At 61em use 16 columns.


.l-leader-inner,
.l-header-inner,
.l-content-inner,
.l-footer-inner,
.l-nav-inner { /* containers */
  @include container;
  margin: 0 auto;
}
.l-content-inner {
  padding-top: $vert-spacing-unit;
  padding-bottom: $vert-spacing-unit;
}
.l-header-col-1 {
  @include span-columns(7, 16);  /* LTR */
}
.l-header-col-2 {
  @include span-columns(9 omega, 16); /* LTR */
  text-align: right;
}

@include at-breakpoint($desk) {
  .l-leader-inner,
  .l-header-inner,
  .l-content-inner,
  .l-footer-inner,
  .l-nav-inner {
    padding-left: 0;
    padding-right: 0;
  }
}
